# ignore directories
test/
train/
fashion20190930T0958/
fashion20191028T0500/
Mask_RCNN/
url_data/
FashionImageDataset/
SimpleImageDataset/

# ignore files
*.h5
*.csv
*.jpg

# User-specific stuff:
.idea/workspace.xml
.idea/modules.xml
.idea/SCON.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/
