# ignore directories
data/image/detailer/*
data/image/mask_rcnn/*
data/weight/*

# ignore files
*.h5
*.csv
*.jpg
*.jpeg
*.png
*.gif
*.hdf5
*.npy

# User-specific stuff:
.idea/workspace.xml
.idea/modules.xml
.idea/SCON.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/
