# ignore directories
test/
train/
fashion20190930T0958/
fashion20191028T0500/
url_data/
FashionImageDataset/
SimpleImageDataset/
Smart_Coordinator_match/lookbook/

# ignore files
*.h5
*.csv
*.jpg
*.hdf5
*.npy

# User-specific stuff:
.idea/workspace.xml
.idea/modules.xml
.idea/SCON.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/
